.list-content {
  font-size: 16px;
  .transaction-container {
    .title {

    }
  }

  .button-container {
    button + button {
      margin-left: 10px;
    }
    .edit, .delete, .check {
      margin-right: 3px;
    }
  }

}